In [1]:
# CDS 실습

In [2]:
students = ['Maria Cunha', 'Maria Lorenz', 'Dabin Lee', 'Marke Prugosk', 'Micheal', 'Soo', 'Yoobin' ,'Bok']

In [3]:
students_M = [name for name in students if name.startswith('M')]

In [4]:
students_M

['Maria Cunha', 'Maria Lorenz', 'Marke Prugosk', 'Micheal']

In [5]:
students_D = [d for d in students if d.startswith('D')]

In [6]:
students_D

['Dabin Lee']

In [9]:
office_desk = ['laptop' ,'pen', 'notebook','bottle of water']

In [10]:
office_desk.index('notebook')

2

In [11]:
office_desk[1]

'pen'

In [12]:
print(office_desk)
office_desk.sort()
office_desk

['laptop', 'pen', 'notebook', 'bottle of water']

['bottle of water', 'laptop', 'notebook', 'pen']

In [13]:
office_desk.append('charger')

NameError: name 'office_deck' is not defined

In [14]:
office_desk

['bottle of water', 'laptop', 'notebook', 'pen']

### Let' use a list of the height of some Got actor

In [15]:
height = [1.55, 1.35, 1.45, 1.73, 1.75]

In [16]:
sum(height)

7.83

In [17]:
min(height)

1.35

In [18]:
max(height)

1.75

In [19]:
len(height)

5

### Walking through the set of data

In [22]:
height = [1.35, 1.70, 1.73, 1.75, 1.80]
total = 0

for each_height in height:
    print(each_height, total)
    total = each_height + total
    if total > 3:
        break
    else:
        continue    

total

1.35 0
1.7 1.35

3.05

In [23]:
height_meters = [1.80, 1.64, 1.74]
for each_height in height_meters:
    print("height in centimeters: ", each_height * 100)

height in centimeters:  180.0
height in centimeters:  164.0
height in centimeters:  174.0

#### Challenge

In [24]:
answer = 42
str(answer)

'42'

#### Dictionaries

In [25]:
personal_data = {
    "name": 'John',
    'age': 28, 
    'height': 1.85
}
personal_data

{'name': 'John', 'age': 28, 'height': 1.85}

In [26]:
personal_data['address'] = 'street x, 123'
personal_data['postcode'] = 22808693
personal_data

{'name': 'John',
 'age': 28,
 'height': 1.85,
 'address': 'street x, 123',
 'postcode': 22808693}

In [27]:
del personal_data['address']
personal_data

{'name': 'John', 'age': 28, 'height': 1.85, 'postcode': 22808693}

In [28]:
personal_data['age']= 29
personal_data

{'name': 'John', 'age': 29, 'height': 1.85, 'postcode': 22808693}

In [29]:
for key in personal_data:
    print(key + ": " + str(personal_data[key]))

name: John
age: 29
height: 1.85
postcode: 22808693

In [31]:
print(personal_data.items())
for key, value in personal_data.items():
    print(key, value)

dict_items([('name', 'John'), ('age', 29), ('height', 1.85), ('postcode', 22808693)])
name John
age 29
height 1.85
postcode 22808693

In [ ]:
### Dictionaries and lists: let's put it all together!

In [32]:
student1 = {'name': 'Dabin', 'age' : 31}
student2 = {'name': 'Bok', 'age': 36}

In [33]:
list_student = [student1, student2]
list_student

[{'name': 'Dabin', 'age': 31}, {'name': 'Bok', 'age': 36}]

In [34]:
first_student = list_student[0]
first_student['name']

'Dabin'

In [35]:
list_student[1]['age']

36

#### Filtering data

In [36]:
1 == 1

True

In [37]:
1 != 1

False

In [38]:
1 > 0

True

In [39]:
2 >= 2

True

In [40]:
not 1 != 1

True

#### Applying conditions on 'IF'

In [41]:
if 1 == 1 or 5 == 2:
    print('1 equals to 1')

1 equals to 1

#### The opposite of IF is Else

In [42]:
if 2 == 1:
    print('2 equals to 1')
elif 1 == 1:
    print('1 equals to 1')
else:
    print('2 does not equal to 1')

1 equals to 1

#### Functions
* When we have a block of code that we have to run repeatedly, we isolate it in a function so that reuse is easier. Let's see how this is possible in Pyhton!

In [43]:
def total_sum(list):   # defining a new funtion, with a name and a parameter
    total = 0
    for item in list:
        total = item + total 

    return total       # returns (out of the function) the total sum

In [44]:
total_sum(height)

8.33

In [45]:
list = [1.80, 1.70, 1.62, 1.95, 1.55]
tall_people = []
short_people = []

for height in list:
    if height >= 1.70:
        tall_people.append(height)
    else:
        short_people.append(height)

print("tall people: ", tall_people)
print("short people: ", short_people)

tall people:  [1.8, 1.7, 1.95]
short people:  [1.62, 1.55]